
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: row;
}
.sidebar{
  margin-top: 40px;
  height: 110vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.Window{
  margin-top: 75px;
  width: 1000px;

}