.Flex{
    display: flex;
    flex-direction: row;
    gap:100px;
}
.form-group {
    margin-bottom: 48px;
}

.form-label {
    display: block;
    font-weight: 1000;
    font-size: 15.55px;
    margin-bottom: 10px;
}

.form-input1 {
    width: 400px;
    padding: 19px;
    background: #ffcf67;
    border: 0.85px solid white;
    border-radius: 6px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 15.55px;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: white;
}
.otp-btn{
    width: 20%;
    height: 10%;
    padding: 13px;
    background: #ff9b00;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin-top:30px;
    margin-bottom: 20px;
}

.proceed-btn {
    width: 20%;
    padding: 13px;
    background: #ff9b00;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.proceed-btn:hover {
    background: #e68a00;
}