.headhome {
    display: flex;
    align-items: center;
    height: 70px;
    max-width: 100%;
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff7300;
}
.logo1{
    font-size: 24px;
    font-weight: bold;
    color:#FFB30E;
}

.notifications,
.settings,
.profile {
    cursor: pointer;
    transition: background 0.3s;
}
.notifications
{
    margin-left: 1220px;
    margin-bottom: 20px;
    margin-top: 23px;
}

.settings
{
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 23px;
}

.profile
{
    margin-left: 35px;
    margin-top: 23px;
    margin-bottom: 20px;
}

.notifications:hover,
.settings:hover,
.profile:hover {
    background: rgba(255, 115, 0, 0.1);
}

.notifications img,
.settings img,
.profile img {
    border-radius: 50%;
    border: solid rgba(195,212,233,0.4);
    width: 30px;
    height: 30px;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
