body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .settings-box {
    margin-left: 650px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid  #ff5733;
  }
  
  .settings-list {

    list-style: none;
    padding: 0;
    margin:20px; 
  }
  
  .settings-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #333;
    font-size: 16px;
  }
  
  .settings-list li:last-child {
    border-bottom: none;
  }
  
  .settings-input {
    width: 100%;
    background: #2a2a2a;
    border: 1px solid #555;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .icon {
    font-size: 18px;
  }
  
  .add-account {
    width: 100%;
    padding: 12px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .add-account:hover {
    background-color: #e04b2e;
  }
  
  .logout {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #ff5733;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .logout:hover {
    background-color: #555;
  }
  