@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import "tailwindcss";

.kaushan-script-regular {
    font-family: "Kaushan Script";
    font-weight: 50;
    font-style: normal;
}
*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body, html {
    padding: 0;
}